h1 {
    font-size: 34px;
    text-align: center;
    font-family: "Malgun Gothic", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

div {
    font-size: 18px;
    font-family: "Malgun Gothic", sans-serif;
    text-align: center;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 

#main #one,
#main #two,
#main #three,
#main #four {
    min-height: 60px; 
    background-color:#F5DBF1;
    margin-right: 24px;
    border-radius: 26px;
    -webkit-box-shadow: -1px 9px 26px -9px rgba(150,101,150,0.82); 
    box-shadow: -1px 9px 26px -9px
